.title-container{
    height: 30vh;
}

#title-text {
    position: relative;
    width: 800px;
    height: 300px;
    text-align: center;
    margin: auto;
}

.header-content {
    top: 60%;
}

.main-content {
    width: 75vw;
    display: flex;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.main-content h1 {
    padding-top: 50px;
}

.left-content {
    flex-basis: 0;
    flex-grow: 4.5;
    padding: 0 30px;
    background: #333333;
}

.right-content {
    flex-basis: 0;
    flex-grow: 10;
}

.right-content div {
    padding-right: 50px;
}

.right-content p {
    padding: 15px 0;
}