* {
    box-sizing: border-box;
}

.title-container{
    height: 30vh;
}

#title-text {
    position: relative;
    width: 800px;
    height: 300px;
    text-align: center;
    margin: auto;
}

.header-content {
    top: 60%;
}

.main-content {
    height: max-content;
    width: 75vw;
    display: flex;
    margin-bottom: 100px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

#text-content a {
    text-decoration: underline;
}

#text-content a:hover {
    color: white;
}

form {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

label {
    color: #555555;
}
/* Style inputs */
input[type=text], input[type=email], select, textarea {
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #666666;
}

input[type=submit], input[type=reset] {
    background-color: #1c87c9;
    color: white;
    padding: 12px 20px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #144365;
}

span {
    color: red;
}