.title-container{
    height: 30vh;
}

#education-text {
    position: relative;
    width: 800px;
    height: 300px;
    text-align: center;
    margin: auto;
}

.header-content {
    top: 60%;
}

.main-content {
    display: flex;
}

.left-content {
    padding: 0 20px;
    width: 40%;
    background: #333333;
}

.right-content {
    flex-grow: 1;
}

a.learn-more {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
  }