.title-container{
    height: 30vh;
}

#education-text {
    position: relative;
    width: 800px;
    height: 300px;
    text-align: center;
    margin: auto;
}

.header-content {
    top: 60%;
}

.main-content {
    width: 75vw;
    display: flex;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.main-content h1 {
    padding-top: 50px;
}

.left-content {
    padding: 0 30px;
    width: 60%;
    background: #333333;
}

.right-content {
    flex-grow: 1;
}

.right-content div {
    padding-right: 50px;
}

.right-content h1 {
    padding: 15px 0;
}

.right-content p {
    padding: 15px 0;
}

.right-content h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}
.right-content li {
    list-style-position: inside;
    padding: 10px 20px;
}

a.learn-more {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
  }