.title-container{
    height: 30vh;
}

#education-text {
    position: relative;
    width: 800px;
    height: 300px;
    text-align: center;
    margin: auto;
}

.header-content {
    top: 60%;
}

.main-content {
    display: flex;
}

.left-content {
    width: 40%;
    background: #333333;
}

.right-content {
    flex-grow: 1;
    width: 60%;
}