*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

/* Header style */
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    background: #333333;
}

/* Website name/logo */
#logo {
    width: max-content;
    left: 0;
    margin: 0;
    float: left;
    text-decoration: none;
}

#PageName {
    display: block;
    width: max-content;
    margin: 0;
    padding: 16px;
    color: white;
    text-align: center;
    background-color:#333333;
}

#PageName:hover{
    background-color: #111111;
}

/* Navigation bar */
#nav {
    float: right;
    text-decoration: none;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.nav-list li {
    white-space: nowrap;
    float: left;
}

.nav-list li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav-list li a:hover {
    background-color: #111111;
}